@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.invisible-scroll::-webkit-scrollbar {
  display: none;
}

.professional-card {
  @apply max-w-[246px] min-w-[246px] 2xl:max-w-[246px] 2xl:min-w-[246px] xl:max-w-[241px] xl:min-w-[241px] lg:max-w-[268px] bg-white rounded-lg px-6 py-4 overflow-hidden;
}
