name: Semgrep Scan

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  semgrep:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Semgrep
        uses: returntocorp/semgrep-action@v1
        with:
          config: "p/ci" 
          publishToken: ${{ secrets.SEMGREP_TOKEN }} 
